{
    "class": "DatReset",
    "control": "SupTSetMid",
    "name": "floor2",
    "oat_low": 15.56,
    "oat_high": 21.11,
    "trim": 0.1,
    "respond": 0.2,
    "min_sp": 12.78,
    "max_sp": 18.34,
    "default_sp": 12.78,
    "request1": 2.0,
    "request2": 3.0,
    "clg_request_thr": 0.95,
    "htg_request_thr": 0.95,
    "zone1": {
        "temperature": "floor2_zon1_oveTRooAir",
        "cooling_setpoint": "CoolingTSet_act",
        "heating_setpoint": "HeatingTSet_act",
        "cooling_signal": "floor2_zon1_damperPos",
        "heating_signal": "floor2_zon1_valve_flow",
        "rated_htg_flow": 5.613
    },
    "zone2": {
        "temperature": "floor2_zon2_oveTRooAir",
        "cooling_setpoint": "CoolingTSet_act",
        "heating_setpoint": "HeatingTSet_act",
        "cooling_signal": "floor2_zon2_damperPos",
        "heating_signal": "floor2_zon2_valve_flow",
        "rated_htg_flow": 3.712
    },
    "zone3": {
        "temperature": "floor2_zon3_oveTRooAir",
        "cooling_setpoint": "CoolingTSet_act",
        "heating_setpoint": "HeatingTSet_act",
        "cooling_signal": "floor2_zon3_damperPos",
        "heating_signal": "floor2_zon3_valve_flow",
        "rated_htg_flow": 5.651
    },
    "zone4": {
        "temperature": "floor2_zon4_oveTRooAir",
        "cooling_setpoint": "CoolingTSet_act",
        "heating_setpoint": "HeatingTSet_act",
        "cooling_signal": "floor2_zon4_damperPos",
        "heating_signal": "floor2_zon4_valve_flow",
        "rated_htg_flow": 3.392
    },
    "zone5": {
        "temperature": "floor2_zon5_oveTRooAir",
        "cooling_setpoint": "CoolingTSet_act",
        "heating_setpoint": "HeatingTSet_act",
        "cooling_signal": "floor2_zon5_damperPos",
        "heating_signal": "floor2_zon5_valve_flow",
        "rated_htg_flow": 16.343
    }
}